div#myModal.modal.fade(role='dialog')
    form(name="form" id="form" method='post' autocomplete='off'  novalidate ng-init='fecha()')
        div.modal-dialog
            div.modal-content.text-all
                div.modal-header
                    button.close(type='button', data-dismiss='modal', ng-click='limpiar()') ×
                    h4.modal-title Búsqueda avanzada de actas
                div.modal-body
                    
                        div.row
                            div.col-xs-6
                                input(type='text' name='folio' placeholder='Folio' class='form-control',ng-model="busqueda.folio")
                            div.col-xs-6
                                input(type='text' name='lugar' placeholder='Lugar' class='form-control', ng-model="busqueda.lugar")
                        div.row
                            div.col-xs-6
                                h4 Desde
                                div.input-group
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-calendar
                                    //- input.form-control(type="Date" name="desde" min="1960-01" value="1960-01-01")
                                    input.form-control(type='date', name='currentDate1', ng-model='example.currentDate1', min="1960-01-01", max="{{example.max | date: 'yyyy-MM-dd'}}", required)
                                div.col-xs-12(ng-show='form.$submitted || form.currentDate1.$touched')
                                    div.error(ng-show='form.currentDate1.$error.required')
                                        | Este campo es Requerido!
                                    div.error(ng-show='form.currentDate1.$error.date')
                                        | No es valido el dato!
                                    div.error(ng-show='form.currentDate1.$error.max')
                                        | el maximo es {{example.max | date: 'dd-MM-yyyy'}}
                                    div.error(ng-show='form.currentDate1.$error.min') 
                                        | el minimo es {{example.currentDate | date: 'dd-MM-yyyy'}}
                            div.col-xs-6
                                h4 Hasta
                                div.input-group
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-calendar
                                    //- input.form-control(type="Date" name="hasta" min="1960-01" value="2020-01-01")
                                    input.form-control(type='date', name='currentDate2', ng-model='currentDate2', min="1960-01-01", max="{{limite | date: 'yyyy-MM-dd'}}", required='')
                                div.col-xs-12(ng-show='form.$submitted || form.currentDate2.$touched')
                                    div.error(ng-show='form.currentDate2.$error.required')
                                        | Este campo es Requerido!
                                    div.error(ng-show='form.currentDate2.$error.date')
                                        | No es valido el dato!
                                    div.error(ng-show='form.currentDate2.$error.max')
                                        | el maximo es {{example.max | date: 'dd-MM-yyyy'}}
                                    div.error(ng-show='form.currentDate2.$error.min') 
                                        | el minimo es {{example.currentDate | date: 'dd-MM-yyyy'}}
                        br
                        div.row
                            div.col-xs-6
                                input(type='text' name='alumno' placeholder='Alumno' class='form-control', ng-model="busqueda.alumno")
                        br
                        div.row
                            div.col-xs-6
                                input(type='text' name='titulo' placeholder='Título' class='form-control', ng-model="busqueda.titulo")
                        br
                        div.row
                            div.col-xs-6
                                input(type='text' name='director' placeholder='Director' class='form-control', ng-model="busqueda.director")
                        br
                        div.row
                            div.col-xs-6
                                input(type='text' name='codirector' placeholder='Codirector' class='form-control', ng-model="busqueda.codirector")
                        br
                        div.row
                            div.col-xs-6
                                input(type='text' name='sinodal' placeholder='Sinodal' class='form-control', ng-model="busqueda.sinodal")

                div.modal-footer
                    div.pull-left
                        button.btn.btn-danger(type='button', data-dismiss='modal', ng-click='limpiar()') Cancelar
                    div.pull-right
                        button.btn.btn-primary(type="submit" class='btn btn-default',data-dismiss='modal', ng-click='busquedaA()')
                            i.fa.fa-spinner.fa-pulse.fa-lg.fa-fw(ng-show='isProcess')
                                //- span(ng-show='!isProcess') Buscar
                            span Buscar
                    