extends ../templates/default
block content
  script(src="/javascripts/queryPage.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js")
  script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/2.4.1/angucomplete-alt.min.js")
    //- link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
  link(rel='stylesheet', href='/stylesheets/query.css') 
  div.ingreso(style='margin-top:50px')
      div.panel(ng-app="consultas", ng-cloak)
        div.box-body(style='min-height: 700px;', ng-controller="query")
          div.jumbotron(style='background: white', ng-init='tesis()')
            div.container.text-all
                div.row.menu
                    div.col-md-3
                        div.well.well-sm
                            form.form-horizontal
                                a.text-cente Ordenar
                                div 
                                    select.form-control(id='ordenar', name='ordenar',ng-model="ordenar", ng-change="ordertesis()")
                                        option(value='', disabled)='Elige una opción'
                                        option(ng-repeat="x in tipo" value="{{x.value}}"){{x.select}}
                    div.col-md-1
                        button.icono(onclick=" location.href='/consultas/tesis' ") 
                            i.glyphicon.glyphicon-home
                            span Datos   
                    div.container.col-md-7(style='padding-top: 15px;')
                        div.pull-right
                            button.btn.btn-info.btn-lg.text-all(type='button', data-toggle='modal', data-target='#myModal') CONSULTA AVANZADA
                            include modalT
                div(class="alert alert-warning alert-dismissable" ng-show="vacio == true")
                    button(type="button" class="close" data-dismiss="alert") &times;
                    strong ¡Atención!
                    | No se encontró nada en su búsqueda.
                div(ng-if='vacio == false')
                    center
                        div.loader(ng-show="items.length == 0")
                div(ng-show="items.length > 0 ")                      
                    p 
                    h5 Total de Tesis: {{items.length}}
                    div#content.text-all
                        
                                div.thumbnail(ng-repeat="items in filteredTodos" ng-init='p()')
                                    table#local.table.table-striped.table-bordered        
                                    
                                        thead
                                            td(colspan="2") 
                                                a {{items.titulo}}
                                        tbody    
                                            tr
                                                td 
                                                    b Alumno:
                                                td
                                                    ul {{items.alumno}} 
                                            tr
                                                td 
                                                    b Clasificación:
                                                td 
                                                    ul(style="list-style-type:none")
                                                        li {{items.clasificacion}}
                                                        li {{items.clasificacion1}}
                                            tr
                                                td
                                                    b Especialidad:
                                                td 
                                                    ul {{items.especialidad}}
                                            tr
                                                td
                                                    b Departamento:
                                                td 
                                                    ul {{items.departamento}}
                                            tr
                                                td
                                                    b Grado:
                                                td 
                                                    ul {{items.grado}}
                                            tr
                                                td
                                                    b Fecha de Publicación:
                                                td 
                                                    ul {{items.fechapublicacion | date:'dd-MM-yyyy'}}
                                            tr
                                                td 
                                                    b Director:
                                                td  
                                                    ul(style="list-style-type:none")
                                                        li {{items.director}}  
                                            tr
                                                td 
                                                    b Codirectores:
                                                td  
                                                    ul(style="list-style-type:none")
                                                        li {{items.codirector1}}
                                                        li {{items.codirector2}}
                                                        li {{items.codirector3}}
                                                        li {{items.codirector4}}                                          
                    //- div.col-md-12(style='background-color: #222' ) 
                    .container(data-pagination='', data-num-pages='numPages()', data-current-page='currentPage', data-max-size='maxSize', data-boundary-links='true')
                    
               