extends templates/default

block content
    div.ingreso
      
          div.jumbotron
            div(style='padding-left: 7%; font-family:Lato ' )
              h1 Bienvenido al módulo de Estadísticas y Consultas 
              p
                | Este es un módulo del repositorio CINVESTAV que tiene como objetivo la consulta de actas de grado y 
                | de tesis de los diferentes departamentos del CINVESTAV. Así como también mostrar estadísticas y cuadros de contenido:
              
          
            div(style='padding-left: 7%; ')
              table
                tr
                  td
                    h4 Estadísticas de Actas de Grado y Tesis
                  td(style='padding-left: 18%;')
                    
                tr
                  td
                    h4 Consultas de Actas de Grado y Tesis
                  td(style='padding-left: 15%;')
                    
                tr
                  td
                    h4 Exportar las Actas de Grado y Tesis
                  td(style='padding-left: 15%;')
                   
                tr
                  td
                    h4 Cuadros de datos de Actas de Grado y Tesis
                  td(style='padding-left: 20%;')
                    
              h4(style='padding-top: 5%;')
                | Del Repositorio Institucional de Tesis se pueden recuperar los
                | títulos, el autor, director, año-mes de publicación.
        
