extends templates/default

block content
    div.ingreso
      
          div.jumbotron
            div(style='padding-left: 7%; ' )
              h1 Bienvenido a Meredith Marketing S.A. de C.V.
              p
                | Somos una empresa de publicidad y marketing lucrativa completa, dedicada a la
                | venta de servicios de marketing, comunicación y promoción, así como la planeación
                | estratégica de mercados, promoción para la venta, creación y producción de anuncios
                | publicitarios y relaciones públicas para ventas.
              
          
            div(style='padding-left: 7%; ')
              table
                tr
                  td
                    h4 Misión
                    p
                      | Nuestro compromiso es estar al servicio del cliente defendiendo 
                      | su libertad de crear publicidad íntegra para productos y servicios dentro
                      | del marco de la ley; siendo proactivos al anticipar y satisfacer nuevas necesidades,
                      | creando espacios de formación, en las diferentes áreas del conocimiento donde la
                      | imaginación y la creatividad no tienen límites para crear publicidad.
                  td(style='padding-left: 18%;')
                    
                tr
                  td
                    h4 Visión
                    p
                      | Ser una empresa de publicidad y marketing sostenible a nivel nacional e
                      | internacional, teniendo relaciones estrechas con los clientes nacionales y extranjeros,
                      | contando con un cuadro multidisciplinario de profesionales en distintas áreas, siendo
                      | ejemplo de compromiso con el mejoramiento de nuestros asociados y de participación de
                      | los clientes, fomentando los estándares más altos de creatividad y profesionalismo.
                  