extends templates/default

block content
    div.ingreso(style='margin-top:50px')
      div.panel
        div.box-body(style='min-height: 700px; ')
          div.jumbotron(style='background: white')
            div(style='padding-left: 7%; font-family:Lato ' )
              h1 Bienvenido al módulo de Estadísticas y Consultas 
              p
                | Este es un módulo del repositorio CINVESTAV que tiene como objetivo la consulta de actas de grado y 
                | de tesis de los diferentes departamentos del CINVESTAV. Así como también mostrar estadísticas y cuadros de contenido:
              
          
            div(style='padding-left: 7%; ')
              table
                tr
                  td
                    h4 Estadísticas de Actas de Grado y Tesis
                  td(style='padding-left: 18%;')
                    img(src='images/inicio_6.png', style='width: auto; height: 50px')
                tr
                  td
                    h4 Consultas de Actas de Grado y Tesis
                  td(style='padding-left: 15%;')
                    img(src='images/inicio_4.png', style='width: auto; height: 50px')
                tr
                  td
                    h4 Exportar las Actas de Grado y Tesis
                  td(style='padding-left: 15%;')
                    img(src='images/inicio_1.jpg', style='width: auto; height: 50px')
                tr
                  td
                    h4 Cuadros de datos de Actas de Grado y Tesis
                  td(style='padding-left: 20%;')
                    img.push-right(src='images/inicio_3.png', style='width: auto; height: 35px')
              h4(style='padding-top: 5%;')
                | Del Repositorio Institucional de Tesis se pueden recuperar los
                | títulos, el autor, director, año-mes de publicación.
        
