doctype html
html
  head
    if(title == null)
      title borges
    title=title
    include dependencies
  body(style="background-color:#C6DEDE;")   
    div#main
      include nav
      if isAuthenticated  
        include sidebar
      block content