doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    if(title == null)
      title borges
    title=title
    include dependencies
  body(style="background-color:#C6DEDE;")   
    div#main
      include nav
      if isAuthenticated  
        include sidebar
      block content