


                            
//estilos de tablas y CDN para exportar a excel
//- link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
//- link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css')
//- script(src='https://code.jquery.com/jquery-1.12.4.js')
//- script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
//- script(src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js')
//- script(src='https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js')
//- link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
//- link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css')

//- link(rel="stylesheet", href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
//- script(src="https://code.jquery.com/jquery-3.3.1.js")
//- script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')



link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css")
script(src="../vendor/jquery/dist/jquery.min.js")
script( src="../vendor/bootstrap/dist/js/bootstrap.min.js")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js")

script(src='/javascripts/clientes.js')