link(rel='stylesheet', href='/stylesheets/sidebar.css')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
script(src="https://code.jquery.com/jquery-2.2.3.min.js")  
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(type='text/javascript', src='//code.jquery.com/jquery-1.10.1.js')
script(type='text/javascript', src='/javascripts/sidebar.js')

                                    
//script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js')

//tablas
link(rel='stylesheet', type='text/css', href='../vendor/dynatable/jquery.dynatable.css')
script(type='text/javascript', src='../vendor/dynatable/jquery.dynatable.js')
script(type='text/javascript', src='/javascripts/table.js')
link(rel='stylesheet', href='/stylesheets/tab.css')


//graficas
script(src='../vendor/highcharts/highcharts.js')
script(src='../vendor/highcharts/modules/exporting.js')
script(src='../vendor/highcharts/js/themes/dark-unica.js')
script(src='../vendor/highcharts/js/modules/data.js')


//estilo de titulos 
link(href='https://fonts.googleapis.com/css?family=Abril Fatface', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Luckiest Guy', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/style.css')

//estilos de tablas y CDN para exportar a excel
link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css')
script(src='https://code.jquery.com/jquery-1.12.4.js')
script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js')
script(src='https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js')
link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css')
