//-  Footer 
footer( class="page-footer font-small pt-4 ")
    //- div( class="card-header bg-transparent border-success") Header
    div.card.bg-dark.text-white.text-center
        div(class='card-header text-center row justify-content-md-center')
            div.col-md-6
                img(src="/images/Publicidad.gif" class="card-img rounded mx-auto d-block" alt="..." )
        div( class="card-body flex-center"  style="text-align: center;")
                //- Grid row 
                //- <!-- Facebook -->
                a( class="fb-ic")
                    i( class="fab fa-facebook-f fa-sm white-text mr-md-5 mr-3 fa-1x")
                
                //- <!-- Twitter -->
                a( class="tw-ic")
                    i( class="fab fa-twitter fa-sm white-text mr-md-5 mr-3 fa-1x")
                
                //- <!-- Google +-->
                a( class="gplus-ic")
                    i(class="fab fa-google-plus-g fa-sm white-text mr-md-5 mr-3 fa-1x")
                
                //- <!--Linkedin -->
                a( class="li-ic")
                i( class="fab fa-linkedin-in fa-sm white-text mr-md-5 mr-3 fa-1x")
                
                //- <!--Instagram-->
                a( class="ins-ic")
                i( class="fab fa-instagram fa-sm white-text mr-md-5 mr-3 fa-1x")
                
                //- <!--Pinterest-->
                a( class="pin-ic")
                i( class="fab fa-pinterest fa-sm white-text fa-1x")
                
            //- <!-- Grid row -->
        div( class="card-footer bg-transparent border-light")
            //- <!-- Copyright -->
            div( class="footer-copyright  text-center py-3 bg-dark")© 2018 Copyright:
                a( href="https://mdbootstrap.com/education/bootstrap/") MDBootstrap.com
            
            //- <!-- Copyright -->
<!-- Footer -->