div#mySidebar.w3-sidebar.w3-bar-block.w3-card.w3-animate-left
  nav#sidebar.sidebar.sidebar-menu-collapsed(style=' z-index:40')
      a#justify-icon(href='#')
        span#openNav.glyphicon.glyphicon-align-justify(onclick='w3_open()')
        span#openNav1.glyphicon.glyphicon-align-justify(onclick='w3_close()' style="display:none")
      ul.completo
        li.dropdown.completo
          a.ripple-effect.dropdown-toggle.expandable(href='#', data-toggle='dropdown')
            span.fa.fa-pie-chart.collapsed-element 
            span.expanded-element Estadísticas   
          ul.dropdown-menu
            li
              a(href='/estadisticas/actas')
                i.fa.fa-circle-o
                | Actas
            li
              a(href='/estadisticas/tesis')
                i.fa.fa-circle-o
                | Tesis
        
        li.dropdown.completo
          a.ripple-effect.dropdown-toggle.expandable(href='#', data-toggle='dropdown')
            span.fa.fa-search.collapsed-element
            span.expanded-element Consultas   
          ul.dropdown-menu
            li
              a(href='/consultas/actas')
                i.fa.fa-circle-o
                | Actas
            li
              a(href='/consultas/tesis')
                i.fa.fa-circle-o
                | Tesis
        li.dropdown.completo
          a.ripple-effect.dropdown-toggle.expandable(href='#', data-toggle='dropdown')
            span.fa.fa-file-excel-o.collapsed-element
            span.expanded-element Exportar   
          ul.dropdown-menu
            li
              a(href='/exportar/actas')
                i.fa.fa-circle-o
                | Actas
            li
              a(href='/exportar/tesis')
                i.fa.fa-circle-o
                | Tesis
        li.dropdown.completo
          a.ripple-effect.dropdown-toggle.expandable(href='#', data-toggle='dropdown')
            span.fa.fa-table.collapsed-element
            span.expanded-element Cuadro de Datos  
          ul.dropdown-menu
            li
              a(href='/tablas/actas')
                i.fa.fa-circle-o
                | Actas
            li
              a(href='/tablas/tesis')
                i.fa.fa-circle-o
                | Tesis
script.
  function w3_open() {
  document.getElementById("main").style.marginLeft = "5%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
  document.getElementById("openNav1").style.display = 'block';
  }
  function w3_close() {
    document.getElementById("main").style.marginLeft = "0%";
   // document.getElementById("mySidebar").style.display = "none";
    document.getElementById("openNav").style.display = "inline-block"
    document.getElementById("openNav1").style.display = 'none';
  } 
     