extends ../templates/default
block content
   script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js')
   script(type='text/javascript', src='/javascripts/graficas.js')
   script(type='text/javascript', src='/javascripts/muestra.js') 
   div.ingreso(style='margin-top:50px'  ng-app="estadisticas" ng-controller="graficas" ng-cloak)
      div.panel.text-all
        div.box-body(style='min-height: 700px; ')
          div.jumbotron(style='background: white')
            div.container
                div.row
                    div.col-md-3
                        div.well.well-sm
                            form.form-horizontal
                                a.text-center.text-all Estadística
                                div
                                   select.form-control(id='selectTesis', name='selectTesis',ng-model="selectTesis" ng-change="selectgraficas1()")
                                        option(value='' disabled) Selecciona Grafica 
                                        option(ng-repeat="x in tipo1" value="{{x.value}}"){{x.select}} 
                    div.col-md-4(style='float: right;')
                        div.well.well-sm
                            form.form-horizontal
                                a.text-center.text-all Período
                                div.input-group
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-calendar
                                    input.form-control(type="number", name="anio", min="1960", max="{{limit}}" , ng-model="anio", placeholder='Introdusca un año' ng-disabled="selectTesis == undefined")
                                    span.input-group-btn
                                        a.action.btn.btn-md.btn-info(data-tooltip='Ver',ng-click="anio == undefined || selectTesis == undefined ? true: selectgraficasaniot(title);anio=undefined",ng-disabled="anio == undefined || selectTesis == undefined")
                                            i.fa.fa-eye
                h2.text-all(style='text-align:center;') 
                    a {{title}}
                table#datatable(style='display:none;') 
                    thead
                        tr
                            th(ng-repeat='x in encabezados'){{x.column_name | uppercase}} 
                        
                    tbody
                        tr(ng-repeat="elem in grafica1" ng-init='callAtTimeout()')
                            td(ng-repeat="z in elem"){{z}}
                div.nav-tabs-custom.col-md-12(ng-show='title !== "Departamento y Grados" && title !== "Especialidad y Departamentos"')
                    ul.nav.nav-tabs.pull-right
                        li
                            a.dona( data-target='#donut', data-toggle='tab')
                                i.fa.fa-pie-chart
                                |  DONA
                        li.active
                            a.barra(href='javascript:;', data-target='#bar', data-toggle='tab')
                                i.fa.fa-bar-chart
                                |  BARRAS
                
                div.nav-tabs-custom.col-md-12(ng-show='title == "Departamento y Grados" || title == "Especialidad y Departamentos"')
                    ul.nav.nav-tabs.pull-right
                        li.active
                            a(href='javascript:;', data-target='#bar', data-toggle='tab')
                                i.fa.fa-bar-chart
                                |  BARRAS
                
                div.col-md-12(ng-show='title != "Departamento y Grados"')
                    div#graficaA.graficaA
                div.col-md-12(ng-show='title != "Departamento y Grados"')

                    div#graficaB.graficaB(style='display:none;') 
                div.col-md-12(ng-show='title == "Departamento y Grados"')
                    div#graficaA1.graficaA1
                div.col-md-12(ng-show='title.length == null') 
                    div.alert.alert-info
                                strong.text-all(style='text-align:center;')  Atención!    :
                                    a.text-all Selecciona una Gráfica....
                
                
