extends ../templates/default

block content
  link(rel='stylesheet', href='/stylesheets/products.css')
  div.ingreso
    div.jumbotron  
        div.container
          //- imagenes con extencion png and jpg
          div( class="row align-items-center animated bounceInDown slow")
            div(class="col-lg-6") 
              a(href="/docs/MediaKitMED.pdf")
                img(src="/images/LogoMED.png" class="img-fluid rounded" alt="Responsive image")
            //- div(class="col-lg-4") 
            //-   a(href="#")
            //-     img(src="/images/LogoMeredith.jpg" class="img-fluid rounded" alt="Responsive image")
            div(class="col-lg-6") 
              a(href="/docs/mamaybebe.pdf")
                img(src="/images/mmybb.png" class="img-fluid rounded" alt="Responsive image")
          //- gif
          div(class="row align-items-center text-center animated bounceInLeft slow")
            div(class="col-lg-6") 
              a(href="/docs/Touch2018.pdf")
                img(src="/images/touch.png" class="img-fluid rounded" alt="Responsive image")
            div(class="col-lg-6") 
              a(href="/docs/BoxNewBorn.pdf")
                img(src="/images/newborn.png" class="img-fluid rounded" alt="Responsive image")
          //- imagenes con extencion png and jpg
          //- div( class="row align-items-center")
            //- div(class="col-lg-4") 
            //-   a(href="#")
            //-     img(src="/images/mmybb.png" class="img-fluid rounded" alt="Responsive image")
            //- div(class="col-lg-4") 
            //-   a(href="#")
            //-     img(src="/images/newborn_2.jpg" class="img-fluid rounded" alt="Responsive image")
            div(class="col-lg-4") 
              a(href="#")
                img(src="/images/newborn.png" class="img-fluid rounded" alt="Responsive image")
          //-gif
          //- div(class="row align-items-center text-center")
          //-   div(class="col-lg-12") 
          //-     a(href="#")
          //-       img(src="/images/publicidad.gif" class="img-fluid rounded" alt="Responsive image")
    